@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    color: #2b2a27;
    font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", sans-serif;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

ul {
    list-style: none;
}

a {
    color: #2b2a27;
    text-decoration: none;
}

/* 共通 */

.wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

.section__title {
    text-align: center;
    margin-bottom: 50px;
}

/* ヘッダー */

#header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ナビゲーション */

.navi__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

.navi__list-sub li {
    margin-left: 10px;
}

.navi__list-main li:not(:last-child) {
    margin-left: 30px;
}

.navi__list-main li img {
    margin-left: 20px;
    width: 30px;
    height: 30px;
}

/* メインヴィジュアル */

.mv {
    background-image: url(https://picsum.photos/200/300);
    background-size: cover;
    width: 100%;
    height: 750px;
    vertical-align: bottom;
    object-fit: cover;
    position: relative;
    margin-bottom: 120px;
}

.mv__title {
    position: absolute;
    top: 45%;
    left: 100px;
}

.mv__title h2 {
    margin-bottom: 20px;
}

/* ソリューション */

.solution {
    margin-bottom: 120px;
}

.section__text {
    text-align: center;
    margin-bottom: 80px;
}

.solution__list {
    display: flex;
    justify-content: space-between;
}

.solution__list li {
     width: calc(100% / 3 - 5px);
     background-color: #F5F5F3;
}

.solution__list li img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.solution__list-img {
    margin-bottom: 60px;
}

.solution__list-text {
    text-align: center;
}

.solution__list-text h3,p {
    margin-bottom: 30px;
}

.solution__list .list__item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 110px;
}

.solution__list .list__item li {
    width: calc(480px / 2 );
    background-color: #fff;
    padding: 20px;
    margin: 5px;
    font-size: 0.875rem;
    position: relative;
}

/* ミッション */

.mission__box {
    display: flex;
    margin-bottom: 100px;
  }
  .mission__box .img {
    width: 1300px;
    position: relative;
  }

  .mission__box .img img{
    width: 100%;
    height: 600px;
    object-fit: cover;
  }

  .mission__box .text {
    width: 550px;
    height: 240px;
    padding: 30px;
    position: absolute;
    top: 260px;
  }

  #mission1 .text {
    background: #fff;
    right: -290px;
  }

  #mission1 .text h3 {
    margin-bottom: 30px;
  }

  #mission1 .text p {
    margin-bottom: 30px;
  }

  #mission .text .arrow {
    margin-bottom: 30px;
  }

  #mission2 {
    flex-direction: row-reverse;
  }

  #mission2 .text {
    background: #fff;
    left: -290px;
  }

  #mission2 .text h3 {
    margin-bottom: 30px;
  }

  #mission2 .text p {
    margin-bottom: 20px;
  }

/* ニュース */

#news {
    padding: 120px 0;
    background-color: #F5F5F3;
}

.news__title {
    margin-bottom: 60px;
}

.date__area {
    display: flex;
    justify-content: start;
    align-items: center;
}

.date__area time {
    margin: 30px 30px 30px 0;
}

.date__area span {
    padding: 0 50px;
    margin: 30px 30px 30px 0;
    background-color: #666666;
    color: #fff;
    display: block;
    height: 20px;
    line-height: 20px;
}


.news__list {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 80px;
}

.news__list li {
    border-top: 1px solid #e8e8e8;
}


/* お問い合わせ */

.contact {
    height: 380px;
    background-color: #515151;
}

.contact__box {
    display: flex;
    justify-content: center;
    padding: 150px 0;
}

.contact__box span {
    content: "";
    display: inline-block;
    width: 90px;
    height: 90px;
    z-index: 100;
    background-image: url(../img/mail.png);
    background-size: contain;
    vertical-align: middle;
    margin-right: 30px;
}

.contact__text {
    color: #fff;
    text-align: left;
}

.contact__text h2,p {
    padding: 10px;
}

/* フッター */

#footer {
    padding: 60px 0;
    background-color: #EDEDEB;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.market__line {
    margin: 0 auto 60px;
    width: 1200px;
}

.market__line span {
    display: block;
    border-bottom: 1px solid #d2d1d1;
}

.footer__box {
    display: flex;
    justify-content: space-between;
}

.footer__link {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


.footer__link li:not(:first-child) {
    margin-left: 20px;
}

.footer__sns {
    display: flex;
    justify-content: center;
}

.footer__sns li:not(:first-child) {
    margin-left: 20px;
}

.footer__sns li p {
   line-height: 40px;
   display: inline;
}

.footer__sns li img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.copy {
    margin: 30px auto;
}

